body {
font-family: Arial, sans-serif;
background: linear-gradient(to right, #ff3131,#ff914d);
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
margin: 0;
}

.signin-container {
width: 300px;
text-align: center;
}

input {
width: 100%;
padding: 12px;
margin: 4px 4;
border: 1px solid #ccc;
border-radius: 4px;
}

button {
width: 100%;
padding: 12px;
background-color: #5a67d8;
color: white;
border: none;
border-radius: 4px;
cursor: pointer;
font-size: 16px;
}

button:hover {
background-color: #434190;
}

#message {
margin-top: 10px;
color: red;
}
